@use "../Utils/mixins";
@use "../Utils/variables";
@use "../Utils/colors";

/* partie fonction */
$base-height:1rem;

.fonction {
    counter-reset: chiffres;
    background-color: white;
    padding: 2rem 0 3rem 0;

    & ol {
        display: flex;
        gap: 1.5rem;
        @media (max-width:1000px){
            flex-direction: column; 
        }
    }
   
    & li {
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            content: counter(chiffres);
            counter-increment: chiffres;
            color:white;
            background-color: colors.$purple;
            width: 2 * variables.$base-height;
            height: 2 * variables.$base-height;
            display:grid;
            place-items: center;
            border-radius: 50%;
            position:absolute;
            top: 50%;
            left:-1 * variables.$base-height;
            transform: translateY(-50%);
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.3rem 2rem;
        border: none;
        flex-grow: 1;
        border-radius: 1rem;
        margin-right: 1rem;
        @include mixins.base-shadow;
        &:hover {
            @include mixins.transform-zoom;
            background-color: lighten(colors.$purple, 35%);
            i::before {
                color:colors.$purple;
            }
        }
        & i.fas {
            margin-right: 1rem;
            color: colors.$lightgrey ;
            font-size: 1.5rem;
        }
    }   
}

