/* partie header*/
header {
    font-family: 'Shrikhand', cursive;
    font-size: 31px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 0.5rem rgb(0 0 0 /25%);
    padding: 0.5rem;
    margin: 0;
    position: relative;
}