
/* partie menus*/
@use "../Utils/variables";
@use "../Utils/colors";
@use "../Utils/mixins";

.menu {
    background-color: #f6f6f6;
    h2 {
        padding: 2rem 0 0 1rem;
        margin-bottom: 2rem;
    }
    .menu_cartes {
        display: grid;
        gap: 2rem;
        margin: 0 0.2rem 0 1rem;
    
        .nouveau {
            position: relative;
        }
        .nouveauIcone {
            position:absolute;
            width: 5.5rem;
            height: 2rem;
            background-color: colors.$tertiaire;
            color:darken(colors.$tertiaire, 40%);
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem;
        }
    }
    .carte {
        border: none;
        border-radius: 1rem;
        margin: 0 1.2rem 0 0.3rem;
        &_image {
            height: 27vh;
            border-radius: 1rem 1rem 0 0;
            background-size: cover;  
        }
        @for $i from 1 through 4 {
            &_image-#{$i} {
                background-image: url("images/menu_#{$i}.jpg");
            }
        }
        &_description {
            position:relative;
            background-color: white;
            border-radius: 0 0 1rem 1rem;
            padding-bottom: 0.5rem;
            
            h3,p {
                padding: 0.3rem;
            }
            
            & i {
                font-size: 18px;
                position:absolute;
                right:1rem;
                top:50%;
                transform:translateY(-50%) ;
            }
            .fas {
                color:transparent;
                background-clip: text;
                -webkit-background-clip: text;
                opacity:0;
                @include mixins.gradient(1);
                transition: all 200ms ease-in-out;
            }
            &:hover .fas {
                 opacity: 1;
                 transform:translateY(-50%) scale(1.2);
            }
        } 
    }
}