

@use "../Utils/variables";
@use "../Utils/colors";
@use "../Utils/mixins";

/* partie menus*/
.menu {
    background-color: colors.$lightergrey;
    margin-bottom: 4rem;
    h2 {
        margin: 1.6rem 0 1rem 1.3rem;

    }
    .menu_cartes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.3rem;
        margin: 0 0.2rem 0 1rem;
        @media (max-width:variables.$breakpoint) {
            grid-template-columns: repeat(1,1fr);
        }
        .nouveau {
            position: relative;
        }
        .nouveauIcone {
            position:absolute;
            width: 5.5rem;
            height: 2rem;
            background-color: colors.$tertiaire;
            color:darken(colors.$tertiaire, 40%);
            display: grid;
            place-items: center;
            font-size: 14px;
            right: 1rem;
            top: 1rem;
        }
    }
    .carte {
        flex-grow: 1;
        border: none;
        border-radius: 1rem;
        margin: 0 1.2rem 0 0.3rem;
        @include mixins.base-shadow;
        &_image {
            height: 36vh;
            @media (max-width:variables.$breakpoint) {
                height: 20vh;
            }
            border-radius: 1rem 1rem 0 0;
            background-size: cover; 
            background-position: bottom;
            &-1 {
                background-position: center 90%;
            }
            &-2 {
                background-position: center 62%;
            }
        }
        @for $i from 1 through 4 {
            &_image-#{$i} {
                background-image: url("images/menu_#{$i}.jpg");
            }
        }
        &_description {
            padding-bottom: 0.5rem;
            @include mixins.heart-animated;
            
            h3,p {
                padding: 1px 0 6px 10px;
                font-size: 16px;
            }
            h3 {
                padding-top:15px;
            }
        } 
    }
}