@mixin base-shadow {
    box-shadow: 2px 1px 8px -3px #7e7e7e;
}
@mixin transform-zoom {
    transform: scale(1.02) ;
}
@mixin gradient($opacity:0.9) {
    background-image: linear-gradient(to top,#9356DC,#ff79da );
}